* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: serif;
    color: #113235;
    background-color: #f4f4f4;
}

.header {
    background-color: #f4f4f4;
    padding: 20px; 
}

.header-h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
    width: 1000px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(71, 70, 70, 0.2);
}

.hor-line {
    min-height: 55px;
    width: 100%;
    padding: 10px;
    border-top: 3px solid #005855;
    border-bottom: 3px solid #005855;
    position: relative;
    overflow: hidden;
}

.container {
    font-size: 1.5rem;
    min-height: 1000px;
    background-image: url(../images/background-gaming-27.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    padding: 5vh;
}

.press-to-start {
    color: #c04444;
    text-decoration: underline;
    background-color: rgba(161, 159, 159, 0.2);
    box-shadow: 0px 0px 5px 3px rgba(71, 70, 70, 0.2);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.score-board {
    text-align: center;
    margin: 0 35vw;
    border-radius: 20px;
}

.rule {
    color: #262974;
    text-align: justify;
    background-color: rgba(161, 159, 159, 0.2);
    box-shadow: 0px 0px 5px 3px rgba(71, 70, 70, 0.2);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.explain-word {
    color: #262974;
    text-align: justify;
    background-color: rgba(161, 159, 159, 0.2);
    box-shadow: 0px 0px 5px 3px rgba(71, 70, 70, 0.2);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 280px;
    animation-name: display;
    animation-duration: .5s;
    animation-timing-function: ease-in;
}

.score {
    color: #262974;
    height: 130px;
    background-color: rgba(161, 159, 159, 0.2);
    box-shadow: 0px 0px 5px 3px rgba(71, 70, 70, 0.2);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    animation-name: display;
    animation-duration: .5s;
    animation-timing-function: ease-in;
}

@keyframes display {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.display-none {
    display: none;
}

hr {
    margin: 15px 50px;
    border: none;
    border-bottom: 7px dotted #534d4d;
    border-top: 3px solid #534d4d;
}

.letter-spacing {
    letter-spacing: .2rem;
}



.btn {
    text-decoration: none;
    color: #113235;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 0 0 10px 3px #666;
    border-radius: 10px;
    border: none;
}

.btn:focus {
    outline: none;
    border: none;
    animation-name: btn-focus;
    animation-duration: .3s;
}
@keyframes btn-focus {
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 10px 3px #559b98;
    }
}


.footer {
    color: #b1a9a9;
    text-align: center;
    background-color: #11445c;
}

.footer div {
    padding: 20px 0;
}

